bleach==4.1.0
dj-database-url==0.5.0
Django==3.1
django-heroku==0.3.1  
djangorestframework==3.11.1
django-markdownx==3.0.1
emoji==1.5.0
gunicorn==20.1.0
humanize==3.12.0
Markdown==3.2.2
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mysqlclient==2.0.3
nest-asyncio==1.5.1
packaging==21.0
pandocfilters==1.5.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
psycopg2-binary==2.9.3
Pygments==2.10.0
pyparsing==2.4.7
Send2Trash==1.8.0
urllib3==1.26.7
virtualenv  ==20.14.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
whitenoise==6.0.0